*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main
{
    background-image: url(../img/Pagina\ en\ construccion.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height: 100vh;
}